{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <title>All Meetups</title>
</head>
<body>
    <h1>All Meetups</h1>
    <p>Hello from the App Meetups!</p>

    {% if show_meetups %}
        <!-- <h2>{{ meetups.0.title }}</h2> -->
        {% for meetup_item in meetups %}
            <p>{{ meetup_item.title }}</p>
        {% endfor %}
    {% else %}
        <h2>No meetups to show.</h2>
    {% endif %}
</body>
</html>