{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}All Meetups{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
    We got great meetups coming up!
{% endblock %}

{% block header_content %}
    Find the one that best suits your needs!
{% endblock %}

{% block body %}
    <section>
        <h2>Upcoming meetups</h2>
        <ol>
            {% for meetup_item in meetups %}
            <li class="meetup-item">
                <article>
                    <div class="meetup-summary">
                        <div class="meetup-image">
                            <img src="" alt="">
                        </div>
                        <div class="meetup-details">
                            <h3>{{ meetup_item.title }}</h3>
                            <address>{{ meetup_item.location }}</address>
                        </div>
                    </div>
                    <div class="meetup-actions">
                        <!-- <a href="/meetups/{{ meetup_item.slug }}" class="btn">More details</a> -->
                        <a href="{% url 'meetup-detail' meetup_item.slug %}" class="btn">More details</a>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}


<!-- <h1>All Meetups</h1>
    <p>Hello from the App Meetups!</p>

    {% if show_meetups %}
        <h2>{{ meetups.0.title }}</h2>
        {% for meetup_item in meetups %}
            <p>{{ meetup_item.title }}</p>
        {% endfor %}
    {% else %}
        <h2>No meetups to show.</h2>
    {% endif %} -->